extends layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Polls
          ol.breadcrumb
            .active
              i.fa.fa-fw.fa-bar-chart-o
              |  Polls
              .col-md-offset-6.active
                span.text-center(style='float:right')
                  a(href='/enquete/create')
                    img(src='http://manager.sigelu.com/icons/add64.png')
                    br
                    | Inserir Enquete
      .row
        -if(enquetes)
          each enquete in enquetes
            .col-md-3
              -if(error)
                -if(error.enquete_id == enquete.id)
                  .panel.panel-red
                    .panel-heading
                      h3.panel-title
                        span.glyphicon.glyphicon-hand-right
                        | #{enquete.pergunta} 
                    .panel-body
                      .alert.alert-danger
                        p <strong> Erro ! </strong> #{error.message}
                      form#form_vote(action='/enquete/vote', method='post')
                        input(type='hidden' name='enquete_id' value=enquete.id)
                        ul.list-group
                            each resposta in enquete.respostas
                              li.list-group-item
                                .checkbox
                                  label
                                    input(type='radio', name='vote' value=resposta.id)
                                    |                                     #{resposta.resposta} 
                        .panel-footer.text-center
                          button.btn.btn-primary.btn-block.btn-sm(type='submit')
                            | Vote
                          a.small(href='#') View Result
                -else
                    .panel.panel-primary
                      .panel-heading
                        h3.panel-title
                          span.glyphicon.glyphicon-hand-right
                          | #{enquete.pergunta} 
                      .panel-body
                        form#form_vote(action='/enquete/vote', method='post')
                          input(type='hidden' name='enquete_id' value=enquete.id)
                          ul.list-group
                              each resposta in enquete.respostas
                                li.list-group-item
                                  .checkbox
                                    label
                                      input(type='radio', name='vote' value=resposta.id)
                                      |                                     #{resposta.resposta} 
                          .panel-footer.text-center
                            button.btn.btn-primary.btn-block.btn-sm(type='submit')
                              | Vote
                            a.small(href='#') View Result
              -else if(success)
                  -if(success.enquete_id == enquete.id)
                    .panel.panel-green
                      .panel-heading
                        h3.panel-title
                          span.glyphicon.glyphicon-hand-right
                          | #{enquete.pergunta} 
                      .panel-body
                        .alert.alert-success
                          p <strong> Sucesso ! </strong> #{success.message}
                        form#form_vote(action='/enquete/vote', method='post')
                          input(type='hidden' name='enquete_id' value=enquete.id)
                          ul.list-group
                              each resposta in enquete.respostas
                                li.list-group-item
                                  .checkbox
                                    label
                                      input(type='radio', name='vote' value=resposta.id)
                                      |                                     #{resposta.resposta} 
                          .panel-footer.text-center
                            button.btn.btn-primary.btn-block.btn-sm(type='submit')
                              | Vote
                            a.small(href='#') View Result
                  -else
                    .panel.panel-primary
                      .panel-heading
                        h3.panel-title
                          span.glyphicon.glyphicon-hand-right
                          | #{enquete.pergunta} 
                      .panel-body
                        form#form_vote(action='/enquete/vote', method='post')
                          input(type='hidden' name='enquete_id' value=enquete.id)
                          ul.list-group
                              each resposta in enquete.respostas
                                li.list-group-item
                                  .checkbox
                                    label
                                      input(type='radio', name='vote' value=resposta.id)
                                      |                                     #{resposta.resposta} 
                          .panel-footer.text-center
                            button.btn.btn-primary.btn-block.btn-sm(type='submit')
                              | Vote
                            a.small(href='#') View Result
              -else
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title
                      span.glyphicon.glyphicon-hand-right
                      | #{enquete.pergunta} 
                  .panel-body
                    form#form_vote(action='/enquete/vote', method='post')
                      input(type='hidden' name='enquete_id' value=enquete.id)
                      ul.list-group
                          each resposta in enquete.respostas
                            li.list-group-item
                              .checkbox
                                label
                                  input(type='radio', name='vote' value=resposta.id)
                                  |                                     #{resposta.resposta} 
                      .panel-footer.text-center
                        button.btn.btn-primary.btn-block.btn-sm(type='submit')
                          | Vote
                        a.small(href='#') View Result